<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/main.css" media="all">
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/angular-cookies/angular-cookies.js"></script>
    <title>Издательство &laquo;Фрай, без штанов и Бендер&raquo;</title>
  </head>
  <body ng-app="BookApp">
    <div class="content">
      <header>
        <a href="index.html" class="{{ logoClickable }}">
          <img src="img/logo.png" width="300" height="36" alt="Издательство &laquo;Фрай, без штанов и Бендер&raquo;">
        </a>
        <form method="POST" action="" class="search">
          <input type="text" name="search" value="" class="search__input" placeholder="Поиск книг по названию и автору" ng-model="search" ng-change="onSearchInput()">
          <input type="submit" value="" class="search__submit">
        </form>
      </header>

      <!-- список книг -->
      <section class="books" ng-controller="BookListCtrl" ng-show="visible">
        <h1>Самое незаметное издательство</h1>
        <figure ng-repeat="book in books | limitTo:shown | filter:search" id="{{ book.id }}" class="book">
          <a href="index.html?id={{ book.id }}" class="book__link">
            <img src="{{ book.cover.small }}" alt="{{ book.title }}" title="{{ book.title }}" class="book__cover">
          </a>
          <figcaption class="book__info" ng-bind-html="book.info | html"></figcaption>
        </figure>
        <a href class="button" ng-click="showMore()" ng-show="buttonVisible()">Ещё несколько книг</a>
      </section>

      <!-- информация о книге -->
      <section class="book-details" ng-controller="BookCtrl" ng-show="visible">
        <h1>Мы издаём книги &ndash; вы их можете не читать</h1>
        <div class="book-details__container">
          <div class="eye">
            <img src="{{ book.cover.large }}" alt="{{ book.title }}" title="{{ book.title }}" class="book-details__cover">
            <div class="eye__bulb" id="bulb">
              <div class="eye__lid blink" id="lid"></div>
              <div class="eye__pupil" id="pupil"></div>
            </div>
          </div>
          <div class="book-details__description" ng-bind-html="book.description | html"></div>
          <div class="book-details__reviews">
            <figure class="review" ng-repeat="review in book.reviews">
              <img src="{{ review.author.pic }}" width="210" height="185" alt="{{ review.author.name }}" title="{{ review.author.name }}" class="review__pic">
              <div class="review__cite">{{ review.cite }}</div>
            </figure>
          </div>
          <div class="book-details__features">
            <figure class="review" ng-repeat="feature in book.features">
              <img src="{{ feature.pic }}" width="210" height="185" alt="" class="feature__pic">
              <div class="feature__cite">{{ feature.title }}</div>
            </figure>
          </div>
          <a class="purchase-button" href="index.html?order={{ book.id }}">Купить за&nbsp;жалкие&nbsp;<span ng-bind-html="book.priceText | html"></span></a>
          <div class="skraffi">
            <div class="skraffi__cite">Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</div>
            <img src="img/skraffi.png" width="70" height="70" alt="Скраффи" class="skraffi__pic">
          </div>
        </div>
      </section>

      <!-- форма заказа -->
      <section class="book-order" ng-controller="OrderCtrl" ng-show="visible">
        <h1>Мы издаём книги &ndash; вы их можете не читать</h1>
        <span>Оформить заказ на книгу <a href="index.html?id={{ book.id }}">{{ book.title }}</a></span>
        <img src="{{ book.cover.large }}" alt="{{ book.title }}" title="{{ book.title }}" ng-show="!(loading || success)">
        <form method="POST" action="" name="orderForm" novalidate ng-show="!(loading || success)">
          <div class="error-message" ng-show="showError">Поля отмеченные красным не заполнены или заполнены неверно.</div>
          <div class="input-block input-block__left">
            <div class="input-group">
              <label for="order-name">Имя</label>
              <input type="text" id="order-name" name="name" value="" placeholder="Имя" ng-model="data.name" ng-pattern="re.USERNAME" ng-required="true" ng-change="onTextInputChange()">
            </div>
            <div class="input-group">
              <label for="order-phone">Телефон</label>
              <input type="text" id="order-phone" name="phone" value="" placeholder="Телефон" ng-model="data.phone" ng-pattern="re.PHONE_NUMBER" ng-required="true" ng-change="onTextInputChange()">
            </div>
            <div class="input-group">
              <label for="order-email">Эл. адрес</label>
              <input type="email" id="order-email" name="email" value="" placeholder="Электронный адрес" ng-model="data.email" ng-pattern="re.EMAIL" ng-required="true" ng-change="onTextInputChange()">
            </div>
          </div>
          <div class="input-block input-block__right">
            <div class="input-group">
              <label for="order-comment">Комментарий к заказу</label>
              <textarea id="order-comment" ng-model="data.comment" maxlength="500" ng-required="true" ng-change="onTextInputChange()"></textarea>
            </div>
          </div>
          <div class="input-block input-block__left">
            <span class="label">Способ доставки</span>
            <div class="input-radio-group" ng-repeat="delivery in deliveries">
              <input type="radio" name="delivery" id="order-{{ delivery.id }}" value="{{ delivery.id }}" ng-model="data.delivery.id" ng-checked="$index==0" ng-change="calculateDeliveryCost($index)">
              <label for="order-{{ delivery.id }}">{{ delivery.name }} &ndash; <span ng-bind-html="getPriceAsText(delivery.price) | html"></span></label>
            </div>
            <div class="input-group" ng-show="addressNeeded()">
              <label for="order-address">Адрес доставки</label>
              <input type="text" id="order-address" name="address" value="" ng-model="data.delivery.address" ng-required="addressNeeded()" ng-change="onTextInputChange()">
            </div>
          </div>
          <div class="input-block input-block__right">
            <span class="label">Способ оплаты</span>
            <div class="input-radio-group" ng-repeat="payment in payments">
              <input type="radio" name="payment" id="order-{{ payment.id }}" value="{{ payment.id }}" ng-model="data.payment.id" ng-checked="$index==0" ng-disabled="!paymentAllowed($index)">
              <label for="order-{{ payment.id }}">{{ payment.title }}</label>
            </div>
          </div>
          <span class="order-price">Итого к оплате: <span ng-bind-html="getPriceAsText(book.price+deliveryCost) | html"></span></span>
          <input type="submit" value="Оформить заказ" ng-click="makeOrder()" ng-disabled="orderForm.$invalid">
        </form>
        <div class="preloader" ng-show="loading && !success">
          <div class="preloader__animation"></div>
          <div class="preloader__text">Отправка данных, пожалуйста подождите</div>
        </div>
        <div class="order-success" ng-show="success">Ваш заказ принят.</div>
      </section>

      <!-- currency popup -->
      <div class="popup" ng-controller="CurrencyCtrl" ng-show="shown">
        <div class="popup__window">
          <h3>Выберите валюту</h3>
          <form>
            <select name="currency" ng-model="value">
              <option ng-repeat="currency in currencies" value="{{ currency.ID }}" data-code="{{ currency.CharCode }}">{{ currency.Name }}</option>
            </select>
            <input type="submit" value="Применить" ng-click="setNewCurrency()">
          </form>
          <div class="popup__close" ng-click="closePopup()"></div>
        </div>
      </div>
      <div class="change-currency" ng-click="onChangeCurrency()">Сменить валюту</div>
      <!-- -->

    </div>
    <footer>
      <a href="company.html">
        <img src="img/footer.png" width="300" height="193" alt="Издательство &laquo;Фрай, без штанов и Бендер&raquo;">
      </a>
    </footer>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/point.js"></script>
    <script type="text/javascript" src="js/eye.js"></script>
    <script type="text/javascript" src="js/dragndrop.js"></script>
    <script type="text/javascript">
      var forms = document.getElementsByTagName('form');
      for (var i=0; i<forms.length; i++) forms[i].addEventListener('submit',function(event)
      {
        event.preventDefault();
      });
    </script>
  </body>
</html>