@media screen and (min-device-width: 427px)
{
  .book-order
  {
    & > span
    {
      font-size: 33px;
    }
    form
    {
      .order-price
      {
        font-size: 32px;
        margin: 30px 0;
      }
    }
  }
}
@media screen and (min-device-width: 640px)
{
  .book-order
  {
    form
    {
      width: 100%;
    }
  }
  .company
  {
    .avatars
    {
      figure
      {
        width: 33.333%;
      }
    }
  }
}
@media screen and (min-device-width: 720px)
{
  h1
  {
    font-size: 5.27vw;
  }
  .content
  {
    width: 97vw;
  }
  header
  {
    height: 90px;
    & > *
    {
      padding-top: 60px;
    }
    & > a
    {
      float: left;
    }
    .search
    {
      float: right;
    }
  }
  .book
  {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    &__link::after
    {
      left: calc(50% - 85px);
      left: -webkit-calc(50% - 85px);
    }
  }
  .company
  {
    article:first-of-type
    {
      font-size: 3.33vw;
    }
  }
}
@media screen and (min-device-width: 900px)
{
  .book-details
  {
    position: relative;
    &__cover, .eye
    {
      height: 43.9vw;
      margin-bottom: 50px;
      width: 30.75vw;
    }
    &__container
    {
      position: relative;
    }
    &__reviews
    {
      left: 0;
    }
    &__features
    {
      right: 0;
    }
    &__reviews, &__features
    {
      top: 0;
      position: absolute;
    }
    &__description
    {
      margin-bottom: 20px;
      max-width: 420px;
      width: 30.75vw;
    }
    .skraffi
    {
      max-width: 420px;
      width: 100%;
    }
  }
  .eye
  {
    &__bulb
    {
      height: 10.25vw;
      width: 10.25vw;
    }
    &__lid
    {
      height: 9.66vw;
      width: 9.66vw;
    }
    &__pupil
    {
      height: 1.9vw;
      width: 1.9vw;
    }
  }
  .purchase-button
  {
    max-width: 420px;
    padding-left: 10px;
    padding-right: 10px;
    width: 32vw;
  }
}
@media screen and (min-device-width: 960px)
{
  .company
  {
    article
    {
      p.incut
      {
        font-size: 36px;
        margin: 50px -120px;
        padding: 50px 0;
      }
    }
    article:first-of-type
    {
      font-size: 32px;
    }
    .avatars
    {
      figure
      {
        width: 16.666%;
      }
    }
  }
}
@media screen and (min-device-width: 1200px)
{
  .book-order
  {

    & > span
    {
      margin: 0;
      max-width: none;
    }
    img
    {
      float: right;
      margin-top: 0;
    }
    form
    {
      margin: 0;
      max-width: none;
      width: calc(100% - 294px);
      width: -webkit-calc(100% - 294px);
      .input-block
      {
        display: inline-block;
        &__left
        {
          width: calc(100% - 418px);
          width: -webkit-calc(100% - 418px);
        }
        &__right
        {
          width: 418px;
        }
      }
      .input-group
      {
        input
        {
          width: calc(100% - 98px);
          width: -webkit-calc(100% - 98px);
        }
      }
      .order-price
      {
        text-align: right;
      }
      input[type="submit"]
      {
        float: right;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
@media screen and (min-device-width: 1366px)
{
  h1
  {
    font-size: 72px;
  }
  .book
  {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
  .book-details
  {
    &__cover, .eye
    {
      height: 600px;
      width: 420px;
    }
  }
  .eye
  {
    &__bulb
    {
      height: 140px;
      width: 140px;
    }
    &__lid
    {
      height: 132px;
      width: 132px;
    }
    &__pupil
    {
      height: 26px;
      width: 26px;
    }
  }
}