$color-button: #95c1e5;
$color-incut-borders: #7d7d7d;
$color-link: #4283c0;
$color-link-hover: #e51907;
$color-button-hover: $color-link-hover;
$color-search: #979799;
$color-underline: #c4d8eb;
$color-underline-hover: #f7b7b1;
$size-order-form-text: 18px;
$time-hover-transition: 0.2s;