@import 'images_base64';
@import 'variables';

@mixin background-gradient($from,$to)
{
  background: linear-gradient(to bottom,$from,$to);
}

@font-face
{
  font-family: 'ALS Fuchsia';
  src: url('../fonts/alsfuchsia.otf');
}

@keyframes blink
{
  from {transform: scaleY(1.0)}
  50% {transform: scaleY(0.1)}
  to {transform: scaleY(1.0)}
}
@keyframes preloader
{
  from {background-position-x: 0}
  to {background-position-x: -280px}
}
@keyframes start-drag
{
  from
  {
    opacity: 1.0;
    transform: scale(1.0);
  }
  to
  {
    opacity: 0.8;
    transform: scale(1.2);
  }
}

*
{
  margin: 0;
  outline: none;
  padding: 0;
}
html
{
  height: 100%;
  width: 100%;
}
body
{
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  height: 100%;
  width: 100%;
}
.content
{
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
a
{
  text-decoration: none;
}
h1, h2, h3
{
  font-weight: bold;
  margin: 18px 0;
  text-align: center;
}
h1
{
  font-size: 38px;
  margin: 32px 0;
}
h2
{
  font-size: 32px;
}
h3
{
  font-size: 24px;
}
.s
{
  text-decoration: line-through;
}
textarea
{
  font-family: 'Arial', sans-serif;
  resize: none;
}
header > *
{
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  width: 300px;
}
header a:not(.clickable)
{
  pointer-events: none;
}
.search
{
  &__input
  {
    background: transparent url($icon-loope) no-repeat scroll 7px center;
    border: solid 1px #b2b2b2;
    border-radius: 15px;
    box-shadow: 0 1px 4px #bfbfbf inset;
    color: black;
    font-size: 15px;
    padding: 5px 0 5px 32px;
    width: calc(100% - 68px);
    width: -webkit-calc(100% - 68px);
  }
  &__input[ng-model]
  {
    width: calc(100% - 34px);
    width: -webkit-calc(100% - 34px);
  }
  &__submit
  {
    background: transparent url($icon-enter) no-repeat scroll center;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }
  &__input[ng-model] + &__submit
  {
    display: none;
  }
  ::-moz-placeholder {color: $color-search}
  ::-webkit-input-placeholder {color: $color-search}
  :-ms-input-placeholder {color: $color-search}
  ::-ms-input-placeholder {color: $color-search}
  ::placeholder {color: $color-search}
}
.books
{
  margin: 0 auto;
  max-width: 1280px;
  width: 87.5vw;
}
.book
{
  margin: 0 auto 50px;
  position: relative;
  width: 280px;
  &__link
  {
    display: block;
    height: 300px;
    margin: 0 auto 24px;
    width: 210px;
  }
  &__cover
  {
    box-shadow: 2.83px 2.83px 8px rgba(0,0,0,0.6), 7.07px 7.07px 20px rgba(0,0,0,0.4);
    display: block;
    height: 300px;
    width: 210px;
  }
  &__link::after
  {
    background: transparent url($ribbon) no-repeat scroll left bottom;
    content: '';
    display: block;
    height: 19px;
    left: 55px;
    position: absolute;
    top: 300px;
    width: 13px;
  }
  &__info
  {
    cursor: default;
    font-size: 19px;
    margin: 0 auto;
    max-width: 280px;
    text-align: center;
  }
  &__info u
  {
    color: $color-link;
    text-decoration: underline $color-underline;
    transition: color $time-hover-transition linear, text-decoration-color $time-hover-transition linear;
  }
  &__info u:hover
  {
    color: $color-link-hover;
    text-decoration: underline $color-underline-hover;
  }
}
.book-details
{
  /**/
  &__cover, .eye
  {
    display: block;
    height: 400px;
    margin: 0 auto 32px;
    width: 280px;
  }
  &__description
  {
    color: #333333;
    font-size: 22px;
    margin: 0 auto 60px;
    text-align: center;
    width: 280px;
  }
  &__description strong
  {
    color: #fc5454;
  }
  &__reviews, &__features
  {
    margin: 0 auto;
    width: 280px;
  }
  .review, .feature
  {
    margin: 0 auto 60px;
    width: 280px;
    &__pic
    {
      display: block;
      height: 185px;
      margin: 0 auto 20px;
      width: 210px;
    }
    &__cite
    {
      color: #4c4c4c;
      font-size: 21px;
      text-align: center;
    }
  }
  .skraffi
  {
    margin: 0 auto;
    width: 280px;
    &__cite
    {
      color: #dcdcdc;
      font-size: 15px;
      font-style: italic;
      text-align: center;
      width: 100%;
    }
    &__pic
    {
      display: block;
      height: 70px;
      margin: 6px auto 60px;
      width: 70px;
    }
  }
}
.eye
{
  position: relative;
  &__bulb
  {
    background-color: black;
    border-radius: 100%;
    height: 96px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 52%;
    width: 96px;
  }
  &__lid
  {
    background-color: white;
    border-radius: 100%;
    height: 88px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 88px;
  }
  &__pupil
  {
    background-color: black;
    border-radius: 100%;
    height: 18px;
    margin: -9px auto 0;
    position: relative;
    top: 50%;
    width: 18px;
  }
}
:not(.ng-hide) .eye__lid.blink
{
  animation: blink 1s linear 1s;
}
.button
{
  border: solid 2px $color-button;
  border-radius: 8px;
  color: $color-link;
  cursor: pointer;
  display: block;
  font-size: 17px;
  height: 40px;
  margin: 0 auto 70px;
  line-height: 40px;
  text-align: center;
  transition: border-color $time-hover-transition linear, color $time-hover-transition linear;
  width: 276px;
}
.button:active, .button:hover
{
  border-color: $color-button-hover;
  color: $color-link-hover;
}
.purchase-button
{
  @include background-gradient(#865888,#623a64);
  border: none;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.75)/*, 0 20px 40px rgba(56,37,57,0.5)*/;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 32px;
  margin: 0 auto 24px;
  padding: 16px 0 20px;
  text-align: center;
  width: 300px;
}
.purchase-button:hover
{
  @include background-gradient(#c28dc5,#49274b);
}
.purchase-button:active
{
  @include background-gradient(#865888,#623a64);
}
footer
{
  flex: 0 0 auto;
  height: 193px;
  margin-top: 50px;
  a, img
  {
    display: block;
    height: 193px;
    margin: 0 auto;
    width: 300px;
  }
}
.company
{
  article
  {
    font-size: 19px;
    line-height: 160%;
    margin: 0 auto;
    max-width: 640px;
    width: 93.75vw;
    h1
    {
      line-height: initial;
    }
    h2, h3
    {
      text-align: left;
    }
    p
    {
      padding-bottom: 14px;
    }
    p.incut
    {
      border-bottom: solid 1px $color-incut-borders;
      border-top: solid 1px $color-incut-borders;
      font-family: 'ALS Fuchsia', fantasy;
      font-size: 28px;
      line-height: 150%;
      padding: 25px 0;
      text-align: center;
    }
    ul
    {
      list-style-type: none;
      position: relative;
    }
    li
    {
      padding-left: 20px;
    }
    li::before
    {
      content: '\2013';
      position: absolute;
      left: 0;
    }
    li::after
    {
      content: ';';
    }
    li:last-of-type::after
    {
      content: '.';
    }
  }
  article:first-of-type
  {
    font-size: 24px;
    line-height: 140%;
    max-width: 880px;
    text-align: center;
  }
  .avatars
  {
    font-size: 0;
    margin: 0 auto 40px;
    max-width: 1116px;
    width: 93.75vw;
    figure
    {
      display: inline-block;
      height: 148px;
      padding: 2px 0;
      position: relative;
      width: 50%;
      img
      {
        display: block;
        height: 112px;
        left: 0.5px;
        margin: 30px auto 0;
        position: relative;
        width: 112px;
      }
    }
    figure.crowned
    {
      background: transparent url('../img/avatar__crown.png') no-repeat scroll center top;
    }
  }
}
.book-order
{
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  & > span
  {
    display: block;
    font-size: 7.5vw;
    margin: 0 auto;
    max-width: 93.75vw;
    a
    {
      color: #005af7;
      text-decoration: underline;
    }
  }
  img
  {
    display: block;
    height: 360px;
    margin: 24px auto 0;
    width: 252px;
  }
  form
  {
    font-size: 0;
    margin: 0 auto;
    max-width: 600px;
    width: 93.75vw;
    .input-block
    {
      display: block;
      margin-top: 24px;
      vertical-align: top;
    }
    .input-group
    {
      display: block;
      margin-top: 12px;
      & > *
      {
        display: block;
      }
      label
      {
        font-size: $size-order-form-text;
        padding-left: 10px;
      }
      label.radio-label
      {
        font-size: $size-order-form-text;
      }
      label::after
      {
        content: ':';
        font-size: $size-order-form-text;
      }
      input, textarea
      {
        border: solid 3px black;
        font-size: $size-order-form-text;
        padding: 4px;
      }
      input
      {
        width: calc(100% - 14px);
        width: -webkit-calc(100% - 14px);
      }
      textarea
      {
        height: 162px;
        width: calc(100% - 14px);
        width: -webkit-calc(100% - 14px);
      }
    }
    .label
    {
      font-size: $size-order-form-text;
      padding-left: 10px;
    }
    .label::after
    {
      content: ':';
      font-size: $size-order-form-text;
    }
    .input-radio-group
    {
      display: block;
      margin-top: 12px;
      input
      {
        cursor: pointer;
        display: inline;
        height: 20px;
        opacity: 0;
        width: 20px;
      }
      label
      {
        background: transparent url($radio-unchecked) no-repeat scroll left center;
        cursor: pointer;
        font-size: $size-order-form-text;
        height: 20px;
        line-height: 20px;
        margin-left: -20px;
        padding-left: 24px;
      }
      input:checked + label
      {
        background-image: url($radio-checked);
      }
      input:disabled + label
      {
        opacity: 0.5;
      }
    }
    .order-price
    {
      display: block;
      font-size: 7.5vw;
      margin: 4.69vw 0;
      text-align: center;
    }
    input[type="submit"]
    {
      background-color: #e6e6e6;
      border: solid 3px black;
      border-radius: 8px;
      cursor: pointer;
      display: block;
      font-size: 21px;
      height: 42px;
      margin: 0 auto 65px;
      max-width: 364px;
      padding: 0;
      text-align: center;
      width: 100%;
    }
    input[type="submit"]:disabled
    {
      cursor: default;
      opacity: 0.5;
    }
    input.ng-invalid:not(.ng-untouched), textarea.ng-invalid:not(.ng-untouched)
    {
      border-color: red;
    }
    .error-message
    {
      color: red;
      font-size: $size-order-form-text;
      position: relative;
      top: 20px;
    }
  }
  .preloader
  {
    padding: 50px 0;
    &__animation
    {
      animation: preloader 500ms steps(7,end) infinite;
      background: transparent url($preloader) repeat-x scroll left top;
      height: 20px;
      margin: 0 auto;
      width: 280px;
    }
    &__text
    {
      font-size: $size-order-form-text;
      padding-top: 20px;
      text-align: center;
    }
  }
  .order-success
  {
    font-size: $size-order-form-text;
    text-align: center;
    padding: 50px 0;
  }
}
.popup
{
  background-color: rgba(0,0,0,0.5);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  &__window
  {
    background-color: white;
    border: solid 3px black;
    display: block;
    height: 162px;
    left: calc(50% - 150px);
    left: -webkit-calc(50% - 150px);
    position: fixed;
    top: calc(50% - 81px);
    top: -webkit-calc(50% - 81px);
    width: 300px;
  }
  select
  {
    border: solid 1px black;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
  }
  option
  {
    padding: 5px;
  }
  input[type="submit"]
  {
    background-color: #e6e6e6;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 12px auto 0;
    padding: 5px;
    width: 100px;
  }
  &__close
  {
    background: transparent url($icon-close) no-repeat scroll left top;
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 12px;
  }
}
.change-currency
{
  background-color: white;
  bottom: 0;
  box-shadow: -1px -1px 1px rgba(0,0,0,0.2);
  color: $color-link;
  cursor: pointer;
  display: block;
  padding: 5px;
  position: fixed;
  right: 0;
  text-decoration: underline;
}
.draggable
{
  animation: start-drag 0.2s cubic-bezier(.76,.05,.86,.06) forwards;
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  display: block !important;
  position: absolute;
  transition: opacity 0.2s linear;
  width: 280px !important;
  z-index: 999;
}
.hidden
{
  opacity: 0.0;
  pointer-events: none;
}
.drop-target
{
  background: url($dropmark-line) repeat-y scroll 2px top, url($dropmark-point) no-repeat scroll left top, url($dropmark-point) no-repeat scroll left bottom transparent;
}

@import 'media';